In [12]:
# import libraries needed
import IPython
import pandas as pd
import numpy as np
from statistics import mode
import matplotlib.pyplot as plt  
from sklearn.preprocessing import MinMaxScaler
from IPython.display import display, HTML
from pprint import pprint
import xgboost as xgb

## TODO

- [ ] 清洗column： ID
- [ ] 缺失值处理：先全删除
- [ ] one-hot, number
- [ ] 降维
- [ ] xgboost, RF
- [ ] metric
- [ ] 24 feature： 加起来

In [2]:
df = pd.read_csv('./data/diabetic_data.csv').sort_values(by=['patient_nbr'])
len(df)

101766

In [3]:
print(df.info())
df.describe()
nominals = [
    "race",  # 人种
    "gender",  # 性别
    "age",  # 年龄
    "admission_type_id",  # 入院类型，如紧急，新生（？），未知
    "discharge_disposition_id",  # 出院处置，如回家，到期，未知
    "admission_source_id", # 
    "payer_code",
    "medical_specialty",
    "diag_1",
    "diag_2",
    "diag_3",
    "max_glu_serum",
    "A1Cresult",
    "metformin",
    "repaglinide",
    "nateglinide",
    "chlorpropamide",
    "glimepiride",
    "acetohexamide",
    "glipizide",
    "glyburide",
    "tolbutamide",
    "pioglitazone",
    "rosiglitazone",
    "acarbose",
    "miglitol",
    "troglitazone",
    "tolazamide",
    "examide",
    "citoglipton",
    "insulin",
    "glyburide-metformin",
    "glipizide-metformin",
    "glimepiride-pioglitazone",
    "metformin-rosiglitazone",
    "metformin-pioglitazone",
    "change",
    "diabetesMed",
    "readmitted",
]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101766 entries, 4267 to 96147
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 39.6+ MB
None

In [4]:
def show_crosstab(col):
    grouped = df.groupby([col, 'readmitted']).size().to_frame().reset_index()
    crosstab = pd.crosstab(grouped[col], grouped['readmitted'], values=grouped[0], aggfunc=lambda x: x)
    display(crosstab)

for col in nominals[:-1]:
    show_crosstab(col)

readmitted        <30    >30     NO
race
?                 188    538   1547
AfricanAmerican  2155   6634  10421
Asian              65    161    415
Caucasian        8592  27124  40383
Hispanic          212    642   1183
Other             145    446    915

readmitted          <30      >30       NO
gender
Female           6152.0  19518.0  29038.0
Male             5205.0  16027.0  25823.0
Unknown/Invalid     NaN      NaN      3.0

readmitted   <30   >30     NO
age
[0-10)         3    26    132
[10-20)       40   224    427
[20-30)      236   510    911
[30-40)      424  1187   2164
[40-50)     1027  3278   5380
[50-60)     1668  5917   9671
[60-70)     2502  7897  12084
[70-80)     3069  9475  13524
[80-90)     2078  6223   8896
[90-100)     310   808   1675

readmitted            <30      >30       NO
admission_type_id
1                  6221.0  19309.0  28460.0
2                  2066.0   6452.0   9962.0
3                  1961.0   5746.0  11162.0
4                     1.0      2.0      7.0
5                   495.0   1721.0   2569.0
6                   586.0   2231.0   2474.0
7                     NaN      NaN     21.0
8                    27.0     84.0    209.0

readmitted                   <30      >30       NO
discharge_disposition_id
1                         5602.0  21517.0  33115.0
2                          342.0    668.0   1118.0
3                         2046.0   4916.0   6992.0
4                          104.0    278.0    433.0
5                          247.0    350.0    587.0
6                         1638.0   5362.0   5902.0
7                           90.0    221.0    312.0
8                           15.0     38.0     55.0
9                            9.0      2.0     10.0
10                           NaN      4.0      2.0
11                           NaN      NaN   1642.0
12                           2.0      NaN      1.0
13                          19.0     36.0    344.0
14                          24.0      7.0    341.0
15                          28.0     18.0     17.0
16                           NaN      6.0      5.0
17                           NaN      5.0      9.0
18                         459.0   1027.0   2205.0
19                           NaN      NaN      8.0
20                           NaN      NaN      2.0
22                         552.0    519.0    922.0
23                          30.0    144.0    238.0
24                           7.0     16.0     25.0
25                          92.0    376.0    521.0
27                           NaN      1.0      4.0
28                          51.0     34.0     54.0

readmitted              <30      >30       NO
admission_source_id
1                    3130.0   9640.0  16795.0
2                     111.0    310.0    683.0
3                      29.0     58.0    100.0
4                     309.0    672.0   2206.0
5                     101.0    236.0    518.0
6                     212.0    398.0   1654.0
7                    6720.0  21667.0  29107.0
8                       2.0      4.0     10.0
9                      13.0     16.0     96.0
10                      NaN      2.0      6.0
11                      NaN      NaN      2.0
13                      NaN      NaN      1.0
14                      NaN      NaN      2.0
17                    706.0   2458.0   3617.0
20                     22.0     81.0     58.0
22                      2.0      3.0      7.0
25                      NaN      NaN      2.0

readmitted     <30      >30       NO
payer_code
?           4627.0  13828.0  21801.0
BC           426.0   1301.0   2928.0
CH            13.0     33.0    100.0
CM           198.0    661.0   1078.0
CP           214.0    781.0   1538.0
DM            64.0    220.0    265.0
FR             NaN      NaN      1.0
HM           644.0   2320.0   3310.0
MC          3810.0  11982.0  16647.0
MD           416.0   1259.0   1857.0
MP             9.0     39.0     31.0
OG           136.0    333.0    564.0
OT             7.0     38.0     50.0
PO            44.0    144.0    404.0
SI             7.0     17.0     31.0
SP           510.0   1869.0   2628.0
UN           227.0    696.0   1525.0
WC             5.0     24.0    106.0

readmitted                               <30      >30       NO
medical_specialty
?                                     5781.0  18216.0  25952.0
AllergyandImmunology                     3.0      3.0      1.0
Anesthesiology                           1.0      3.0      8.0
Anesthesiology-Pediatric                 1.0      5.0     13.0
Cardiology                             425.0   1853.0   3074.0
Cardiology-Pediatric                     1.0      4.0      2.0
DCPTEAM                                  NaN      1.0      5.0
Dentistry                                NaN      3.0      1.0
Dermatology                              NaN      1.0      NaN
Emergency/Trauma                       846.0   3006.0   3713.0
Endocrinology                            6.0     39.0     75.0
Endocrinology-Metabolism                 1.0      1.0      6.0
Family/GeneralPractice                 883.0   2663.0   3894.0
Gastroenterology                        62.0    214.0    288.0
Gynecology                               NaN     10.0     48.0
Hematology                              26.0     24.0     32.0
Hematology/Oncology                     40.0     64.0    103.0
Hospitalist                              4.0     19.0     34.0
InfectiousDiseases                       8.0     12.0     17.0
InternalMedicine                      1646.0   4723.0   8266.0
Nephrology                             248.0    666.0    699.0
Neurology                               12.0     46.0    145.0
Neurophysiology                          NaN      NaN      1.0
Obsterics&Gynecology-GynecologicOnco     2.0      5.0     18.0
Obstetrics                               1.0      2.0     16.0
ObstetricsandGynecology                 32.0    110.0    529.0
Oncology                                66.0    100.0    182.0
Ophthalmology                            2.0     11.0     25.0
Orthopedics                            151.0    327.0    922.0
Orthopedics-Reconstructive              92.0    293.0    848.0
...                                      ...      ...      ...
Perinatology                             NaN      NaN      1.0
PhysicalMedicineandRehabilitation       60.0     94.0    237.0
PhysicianNotFound                        2.0      4.0      5.0
Podiatry                                10.0     48.0     42.0
Proctology                               NaN      NaN      1.0
Psychiatry                             104.0    262.0    488.0
Psychiatry-Addictive                     NaN      NaN      1.0
Psychiatry-Child/Adolescent              1.0      2.0      4.0
Psychology                               8.0     35.0     58.0
Pulmonology                             96.0    328.0    447.0
Radiologist                            103.0    383.0    654.0
Radiology                                8.0     14.0     31.0
Resident                                 1.0      1.0      NaN
Rheumatology                             3.0      5.0      9.0
Speech                                   NaN      NaN      1.0
SportsMedicine                           NaN      1.0      NaN
Surgeon                                  4.0      8.0     33.0
Surgery-Cardiovascular                   6.0     24.0     68.0
Surgery-Cardiovascular/Thoracic         43.0    130.0    479.0
Surgery-Colon&Rectal                     1.0      3.0      7.0
Surgery-General                        342.0   1046.0   1711.0
Surgery-Maxillofacial                    1.0      2.0      8.0
Surgery-Neuro                           32.0     76.0    360.0
Surgery-Pediatric                        NaN      2.0      6.0
Surgery-Plastic                          7.0     10.0     24.0
Surgery-PlasticwithinHeadandNeck         NaN      1.0      NaN
Surgery-Thoracic                        11.0     30.0     68.0
Surgery-Vascular                        74.0    200.0    259.0
SurgicalSpecialty                        2.0      9.0     22.0
Urology                                 68.0    185.0    432.0

[73 rows x 3 columns]

readmitted    <30    >30     NO
diag_1
10            NaN    NaN    1.0
11            NaN    3.0    7.0
110           NaN    1.0    1.0
112          14.0   26.0   33.0
114           NaN    1.0    NaN
115           NaN    NaN    2.0
117           NaN    4.0    5.0
131           NaN    2.0    NaN
133           NaN    NaN    1.0
135           NaN   16.0   11.0
136           NaN    1.0    4.0
141           1.0    2.0    3.0
142           NaN    2.0    2.0
143           NaN    NaN    1.0
145           NaN    1.0    NaN
146           2.0    1.0    1.0
147           NaN    1.0    1.0
148           NaN    1.0    NaN
149           NaN    NaN    2.0
150           5.0   11.0   11.0
151           4.0   16.0   42.0
152           4.0    3.0    8.0
153          31.0   97.0  183.0
154           7.0   25.0   62.0
155           4.0    8.0   42.0
156           1.0    3.0   14.0
157          15.0   14.0   85.0
158           1.0    3.0    8.0
160           NaN    NaN    1.0
161           1.0    5.0    6.0
...           ...    ...    ...
989           1.0    2.0    8.0
990           NaN    2.0    NaN
991           NaN    3.0    4.0
992           NaN    3.0    6.0
994           NaN    NaN    1.0
995           8.0   27.0   43.0
996         264.0  771.0  932.0
997          40.0  148.0  236.0
998          87.0  264.0  433.0
999           2.0   10.0   17.0
?             5.0    4.0   12.0
E909          NaN    NaN    1.0
V07           NaN    NaN    1.0
V25           NaN    1.0    NaN
V26           NaN    NaN    2.0
V43           NaN    1.0    NaN
V45           NaN    1.0    4.0
V51           NaN    NaN    1.0
V53           1.0   10.0   33.0
V54           2.0   15.0   28.0
V55           2.0   29.0   40.0
V56           1.0    8.0    7.0
V57         163.0  425.0  619.0
V58          95.0   67.0   66.0
V60           1.0    NaN    NaN
V63           1.0    1.0    6.0
V66           NaN    NaN    2.0
V67           NaN    1.0    NaN
V70           NaN    NaN    1.0
V71           NaN    2.0    7.0

[717 rows x 3 columns]

readmitted   <30    >30     NO
diag_2
11           1.0    1.0    1.0
110          2.0    3.0    3.0
111          NaN    NaN    1.0
112         28.0   75.0   98.0
114          1.0    NaN    NaN
115          NaN    1.0    NaN
117          1.0    4.0    5.0
123          NaN    NaN    1.0
130          NaN    NaN    1.0
131          NaN    NaN    3.0
135         15.0   46.0   54.0
136          3.0    NaN    3.0
137          NaN    NaN    1.0
138          2.0   10.0   10.0
140          NaN    NaN    1.0
141          NaN    2.0    NaN
145          NaN    NaN    1.0
150         10.0   11.0   14.0
151          2.0    8.0   14.0
152          6.0    3.0    4.0
153         19.0   37.0   51.0
154          6.0   21.0   18.0
155          2.0   11.0   20.0
156          5.0    3.0    8.0
157         13.0   18.0   54.0
162         58.0  102.0  241.0
163          NaN    NaN    1.0
164          NaN    NaN    1.0
171          NaN    1.0    1.0
172          1.0    2.0    5.0
...          ...    ...    ...
V15         12.0   46.0   70.0
V16          NaN    NaN    2.0
V17          1.0    3.0    5.0
V18          1.0    NaN    7.0
V23          NaN    NaN    3.0
V25          NaN    NaN    1.0
V42         29.0   94.0  141.0
V43          8.0   47.0   75.0
V44          2.0    6.0    3.0
V45         40.0  138.0  230.0
V46          NaN    7.0    4.0
V49          9.0   20.0   10.0
V50          NaN    NaN    1.0
V53          NaN    1.0    1.0
V54          7.0   28.0   43.0
V55          NaN    1.0    1.0
V57          NaN    6.0    3.0
V58         20.0   63.0   74.0
V60          NaN    NaN    1.0
V61          1.0    NaN    1.0
V62          7.0   15.0   44.0
V63          5.0    4.0   21.0
V64          3.0    4.0   20.0
V65          1.0    4.0   18.0
V66          NaN    1.0    4.0
V69          NaN    NaN    1.0
V70          NaN    3.0    4.0
V72          NaN    1.0   12.0
V85         22.0   36.0  111.0
V86          NaN    1.0    1.0

[749 rows x 3 columns]

readmitted    <30    >30     NO
diag_3
11            1.0    NaN    1.0
110           2.0    6.0   12.0
111           1.0    NaN    NaN
112          22.0   73.0  111.0
115           NaN    NaN    1.0
117           3.0    2.0    2.0
122           NaN    NaN    1.0
123           NaN    NaN    1.0
131           1.0    NaN    5.0
132           NaN    2.0    1.0
135           5.0   24.0   35.0
136           NaN    NaN    2.0
138           6.0    3.0   12.0
139           NaN    1.0    1.0
14            NaN    NaN    1.0
141           1.0    2.0    1.0
146           NaN    1.0    NaN
148           NaN    1.0    NaN
150           3.0    NaN   10.0
151           NaN    2.0    8.0
152           1.0    NaN    2.0
153           7.0   17.0   31.0
154           2.0    4.0    7.0
155           3.0    1.0    8.0
156           3.0    1.0    NaN
157           6.0   10.0   22.0
158           1.0    NaN    NaN
161           NaN    1.0    2.0
162          30.0   50.0  101.0
163           NaN    2.0    3.0
...           ...    ...    ...
V15          36.0  104.0  194.0
V16           NaN    2.0    5.0
V17           NaN    8.0   14.0
V18           NaN    1.0   14.0
V22           NaN    NaN    1.0
V23           NaN    1.0    3.0
V25           NaN    NaN    2.0
V27           NaN    2.0   35.0
V42          31.0  106.0  106.0
V43          19.0   68.0  124.0
V44           2.0   11.0   14.0
V45         132.0  560.0  697.0
V46          10.0   29.0   21.0
V49          11.0   24.0   19.0
V53           NaN    2.0    5.0
V54           4.0   24.0   30.0
V55           2.0    3.0    3.0
V57           NaN    4.0    3.0
V58          48.0  179.0  274.0
V60           2.0    2.0    NaN
V61           NaN    1.0    4.0
V62           2.0   15.0   12.0
V63           1.0    3.0    9.0
V64           9.0   11.0   25.0
V65           3.0    6.0   15.0
V66           1.0    3.0   14.0
V70           NaN    NaN    2.0
V72           1.0    1.0    6.0
V85           9.0   22.0   65.0
V86           NaN    1.0    2.0

[790 rows x 3 columns]

readmitted       <30    >30     NO
max_glu_serum
>200             185    530    770
>300             181    521    562
None           10696  33609  52115
Norm             295    885   1417

readmitted   <30    >30     NO
A1Cresult
>7           383   1300   2129
>8           811   2901   4504
None        9681  29745  45322
Norm         482   1599   2909

readmitted   <30    >30     NO
metformin
Down          69    190    316
No          9418  28839  43521
Steady      1782   6169  10395
Up            88    347    632

readmitted     <30    >30     NO
repaglinide
Down             3     19     23
No           11152  34905  54170
Steady         182    588    614
Up              20     33     57

readmitted     <30    >30     NO
nateglinide
Down             1      4      6
No           11277  35283  54503
Steady          78    248    342
Up               1     10     13

readmitted          <30      >30       NO
chlorpropamide
Down                NaN      NaN      1.0
No              11352.0  35511.0  54817.0
Steady              5.0     29.0     45.0
Up                  NaN      5.0      1.0

readmitted     <30    >30     NO
glimepiride
Down            25     68    101
No           10827  33638  52110
Steady         468   1737   2465
Up              37    102    188

readmitted         <30      >30       NO
acetohexamide
No             11357.0  35544.0  54864.0
Steady             NaN      1.0      NaN

readmitted   <30    >30     NO
glipizide
Down          85    211    264
No          9905  30815  48360
Steady      1268   4233   5855
Up            99    286    385

readmitted    <30    >30     NO
glyburide
Down           52    223    289
No          10225  31827  49064
Steady        995   3221   5058
Up             85    274    453

readmitted     <30    >30     NO
tolbutamide
No           11356  35538  54849
Steady           1      7     15

readmitted      <30    >30     NO
pioglitazone
Down             18     45     55
No            10583  32788  51067
Steady          727   2620   3629
Up               29     92    113

readmitted       <30    >30     NO
rosiglitazone
Down               5     22     60
No             10692  33136  51573
Steady           641   2335   3124
Up                19     52    107

readmitted    <30    >30     NO
acarbose
Down            1      1      1
No          11329  35390  54739
Steady         25    150    120
Up              2      4      4

readmitted      <30      >30       NO
miglitol
Down            2.0      3.0      NaN
No          11353.0  35525.0  54850.0
Steady          2.0     16.0     13.0
Up              NaN      1.0      1.0

readmitted        <30      >30       NO
troglitazone
No            11357.0  35543.0  54863.0
Steady            NaN      2.0      1.0

readmitted      <30      >30       NO
tolazamide
No          11354.0  35535.0  54838.0
Steady          3.0      9.0     26.0
Up              NaN      1.0      NaN

readmitted    <30    >30     NO
examide
No          11357  35545  54864

readmitted     <30    >30     NO
citoglipton
No           11357  35545  54864

readmitted   <30    >30     NO
insulin
Down        1698   4752   5768
No          4756  15949  26678
Steady      3433  10482  16934
Up          1470   4362   5484

readmitted               <30      >30       NO
glyburide-metformin
Down                     1.0      NaN      5.0
No                   11279.0  35287.0  54494.0
Steady                  77.0    257.0    358.0
Up                       NaN      1.0      7.0

readmitted             <30    >30     NO
glipizide-metformin
No                   11356  35538  54859
Steady                   1      7      5

readmitted                    <30      >30       NO
glimepiride-pioglitazone
No                        11357.0  35544.0  54864.0
Steady                        NaN      1.0      NaN

readmitted                   <30      >30       NO
metformin-rosiglitazone
No                       11357.0  35545.0  54862.0
Steady                       NaN      NaN      2.0

readmitted                  <30      >30       NO
metformin-pioglitazone
No                      11357.0  35545.0  54863.0
Steady                      NaN      NaN      1.0

readmitted   <30    >30     NO
change
Ch          5558  17272  24181
No          5799  18273  30683

readmitted    <30    >30     NO
diabetesMed
No           2246   7227  13930
Yes          9111  28318  40934

In [5]:
# drop rows

mask = (df['gender'] != 'Unknown/Invalid') & (df['diag_1'] != '?')  # TODO: only consider primary diag
df = df[mask]

# consider only the first encounter for each patient
df = df.drop_duplicates(subset='patient_nbr', keep='first')

# remove all encounters that resulted in either discharge to a hospice or patient death
# to avoid biasing our analysis
df = df[~df['discharge_disposition_id'].isin([11, 13, 14, 19, 20, 21])]

len(df)

69650

In [6]:
# # drop columns

# drop unrelated columns
df = df.drop(columns=["encounter_id", "patient_nbr"])  

# drop columns with too many missing values
df = df.drop(columns=["payer_code", "weight", "medical_specialty"]) 

# drop columns having same value in each row
df = df.drop(columns=["citoglipton", "examide"])

# drop diag_2, diag_3
df = df.drop(columns=["diag_2", "diag_3"])
df = df.drop(columns=["metformin",
    "repaglinide",
    "nateglinide",
    "chlorpropamide",
    "glimepiride",
    "acetohexamide",
    "glipizide",
    "glyburide",
    "tolbutamide",
    "pioglitazone",
    "rosiglitazone",
    "acarbose",
    "miglitol",
    "troglitazone",
    "tolazamide",
    "insulin",
    "glyburide-metformin",
    "glipizide-metformin",
    "glimepiride-pioglitazone",
    "metformin-rosiglitazone",
    "metformin-pioglitazone"
])

In [7]:
# merge ids with same meaning
def merge(df, col, same_ids):
    for ids in same_ids:
        for k in ids[1:]:
            df[col] = df[col].replace(k, ids[0])
    return df

df = merge(df, 'admission_type_id', [
    [1, 2, 7],  # emergence
    [5, 6, 8],  # not avaliable
])
df = merge(df, 'discharge_disposition_id', [
    [18, 25, 26],  # not avaliable
    [1, 6, 8],  # to home
    [2, 3, 4, 5],  # discharge to another hospital
    [10, 12, 15, 16, 17],  # discharge to outpatient
])
df = merge(df, 'admission_source_id', [
    [1, 2, 3], # Referral
    [4, 5, 6, 10, 22, 25], # from another hospital
    [9, 15, 17, 20, 21]  # not avaliable
])

In [8]:
# encoding non-numeric values manully

def encode(df, col, d):
    df[col] = df[col].apply(lambda x: d[x])
    return df

df = encode(df, 'gender', {"Male": 1, "Female": 0})
df = encode(df, 'readmitted', {"NO": 0, ">30": 1, "<30": 2})
df = encode(df, 'change', {'No': 0, 'Ch': 1})
df = encode(df, 'diabetesMed', {'No': 0, 'Yes': 1})
df = encode(df, 'max_glu_serum', {'>300': 2, ">200": 1, 'Norm': 0, 'None': -10})
df = encode(df, 'A1Cresult', {'>8': 2, ">7": 1, 'Norm': 0, 'None': -10})
df['age'] = df['age'].apply(lambda x: int(x[1]))  # encode [0-10) - [90, 100] to 0 - 9

# # encode race
df = encode(df, "race", {k: i for i, k in enumerate(df['race'].unique())})

# encode automaticlly
# for col in ["gender", "readmitted", "change", "diabetesMed", "max_glu_serum", "A1Cresult", "race", "age"]:
#     d = {k: i for i, k in enumerate(df[col].unique())}
#     df[col] = df[col].apply(lambda x: d[x])

In [9]:
# convert diagnosis information: reference from original paper
def in_range(x, bounds=None, sets=None):
    if bounds is None:
        bounds = []
    elif not isinstance(bounds[0], tuple):
        bounds = [bounds]
    
    if sets is None:
        sets = []
    elif not isinstance(sets, tuple):
        sets = [sets]
        
    for (l, r) in bounds:
        if x >= l and x < r:
            return True
    return x in sets

def convert_diag_func(x):
    ranges = {
        ((390, 460), 785),
        ((460, 520), 786),
        ((520, 580), 787),
        (None, 250),
        ((800, 1000), None),
        ((710, 740), None),
        ((580, 630), 788),
        ((140, 240), None),
        ((790, 799), (780, 781, 784)),
        (((240, 250), (251, 280)), None),
        ((680, 710), 782),
        ((1, 140), None),
        ((290, 320), None),
        ((280, 290), None),
        ((320, 360), None),
        ((630, 680), None),
        ((360, 390), None),
        ((740, 760), None),
    }
    if x == '?':
        return -1
    elif isinstance(x, str) and (x.startswith('V') or x.startswith('E')):
        return 0

    for i, (bounds, sets) in enumerate(ranges):
        if in_range(int(float(x)), bounds, sets):
            return i+1
        
df['diag_1'] = df['diag_1'].apply(convert_diag_func)

In [10]:
df.head(16).T

,4267,5827,67608,17494,2270,14180,18234,15848,61382,2279,7866,25911,1083,2001,11049,2484
race,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gender,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
age,5.0,5.0,8.0,8.0,3.0,6.0,6.0,4.0,7.0,7.0,6.0,7.0,6.0,7.0,8.0,6.0
admission_type_id,1.0,3.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0,1.0,1.0,3.0,1.0,3.0,1.0,1.0
discharge_disposition_id,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0
admission_source_id,1.0,1.0,7.0,7.0,7.0,7.0,1.0,1.0,4.0,1.0,1.0,1.0,7.0,1.0,7.0,7.0
time_in_hospital,8.0,2.0,4.0,3.0,5.0,10.0,9.0,2.0,14.0,12.0,8.0,1.0,2.0,7.0,7.0,4.0
num_lab_procedures,77.0,49.0,68.0,46.0,49.0,54.0,52.0,50.0,21.0,47.0,57.0,31.0,15.0,27.0,77.0,47.0
num_procedures,6.0,1.0,2.0,0.0,0.0,2.0,1.0,5.0,0.0,2.0,6.0,1.0,0.0,3.0,0.0,4.0
num_medications,33.0,11.0,23.0,20.0,5.0,19.0,16.0,13.0,15.0,18.0,31.0,9.0,14.0,16.0,12.0,16.0
number_outpatient,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
number_emergency,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
number_inpatient,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
diag_1,4.0,14.0,17.0,16.0,2.0,11.0,5.0,17.0,0.0,13.0,4.0,14.0,16.0,4.0,3.0,7.0
number_diagnoses,8.0,3.0,9.0,9.0,3.0,9.0,9.0,9.0,7.0,9.0,9.0,7.0,9.0,9.0,9.0,7.0
max_glu_serum,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0
A1Cresult,-10.0,-10.0,1.0,2.0,-10.0,-10.0,-10.0,-10.0,-10.0,0.0,2.0,-10.0,-10.0,2.0,-10.0,-10.0
change,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
diabetesMed,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
readmitted,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

array([[0., 0., 5., ..., 1., 1., 2.],
       [0., 0., 5., ..., 0., 0., 0.],
       [0., 0., 8., ..., 0., 1., 0.],
       ...,
       [0., 0., 8., ..., 1., 1., 0.],
       [0., 0., 4., ..., 1., 1., 1.],
       [0., 1., 4., ..., 1., 1., 0.]])

# Train and test

In [22]:
from sklearn.model_selection import train_test_split

X = df.values[:, :-1]
y = df.values[:, -1].astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
xg_train = xgb.DMatrix(X_train, label=y_train)
xg_test = xgb.DMatrix(X_test, label=y_test)

param = {}
param['objective'] = 'multi:softmax'
param['eta'] = 0.1
param['max_depth'] = 6
param['silent'] = 1
param['nthread'] = 4
param['num_class'] = 3

watchlist = [(xg_train, 'train'), (xg_test, 'test')]
num_round = 5
bst = xgb.train(param, xg_train, num_round, watchlist)
# get prediction
pred = bst.predict(xg_test)
error_rate = np.sum(pred != test_Y) / test_Y.shape[0]
print('Test error using softmax = {}'.format(error_rate))

# do the same thing again, but output probabilities
param['objective'] = 'multi:softprob'
bst = xgb.train(param, xg_train, num_round, watchlist)
# Note: this convention has been changed since xgboost-unity
# get prediction, this is in 1D array, need reshape to (ndata, nclass)
pred_prob = bst.predict(xg_test).reshape(test_Y.shape[0], 6)
pred_label = np.argmax(pred_prob, axis=1)
error_rate = np.sum(pred_label != test_Y) / test_Y.shape[0]
print('Test error using softprob = {}'.format(error_rate))